body:has(.wideChat) {
    min-height: calc(100vh - 14px);
}

.primaryContainer .small {
    margin: 38px 0;
}
.primaryContainer p {
    color: var(--black);
    opacity: 70%;
    text-align: center;
    font-size: 18px;
}

.wideChat {
    position: absolute;
    top: 0;
    padding-top: 113px;
    height: calc(100vh - 201px);
    width: 100%;
    display: flex;
    flex-direction: row;
}
.wideChat.userAktive {
    height: 100vh;
}
.wideChatSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 4px solid rgba(0, 0, 0, 0.2);
}
.startinLogo {
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .wideChat {
        height: calc(100vh - 261px);
    }
}