/*.formButton {
    
    width: 393px;
    height: 39px;
    left: 524px;
    top: 5px;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    /* Hier folgen die schrift Styles
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }
*/