label {
    color: var(--fontColor);
}
.tags {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: space-between;
}
.imgForm {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
    margin: 0 var(--containerPrimary);
    padding: 5px;
    background-color: var(--white);
    row-gap: 20px;
    border: 1px solid var(--black);
    border-radius: 8px;
}
.description {
    display: inline-grid;
    width: 100%;
    padding: 40px 0 15px 0;
}
.description textarea {
    border: 1px solid var(--black);
    border-radius: 8px;
    resize: none;
    width: 100%;
    height: 130px;
    font-size: var(--normalSize);
    padding: 0 4px;
}

.formButton {
    margin: 80px 0 40px 0;
}
.tagSection {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1000px) {
    .small {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    label {
        font-size: 24px;
    }
    .tagSection {
        flex-direction: row;
        gap: 14px;
    }
    .tagSection div {
        flex: 1 1 0;
    }
    .tagSection hr {
        flex: 0;
    }
}

@media (min-width: 1320px) {
    .imgForm {
        grid-template-columns: repeat(5, 1fr) auto;
        grid-template-rows: 1fr;

    }
}