.adminHeaderContainer .adminHeader {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.adminHeaderContainer .adminHeader h1 {
    margin: auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}
.adminHeaderContainer .adminHeader .chatIcon {
    min-width: 50px;
}

.adminHeaderContainer hr {
    margin-top: 0;
}

@media (min-width: 426px) {
    .adminHeaderContainer .adminHeader h1 {
        font-size: 24px;
    }
}