hr {
    border: 4px solid var(--black);
    opacity: 0.2;
    margin: 21px auto;
}
.small , .large {
    border-radius: 8px;
}
.small {
    width: 100%;
}

@media (min-width: 1000px) {
    .verticle {
        width: min-content;
    }
    .small {
        width: 75%;
    }
}